.container {
  height: 100%;
}

.items {
  margin: 25px 0;
}

.items h4 {
  text-align: center;
}

.items .button {
  text-align: center;
  margin: 15px 0;
}

footer {
  background-color: #ccc;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
}